<div class="container">
  <div
    class="row border-top border-primary bg-white text-center p-3 d-flex align-items-end"
  >
    <div class="col">
      <a routerLink="/deshboard" class="text-danger btn-style"
        ><i class="fa fa-home" aria-hidden="true"></i
      ></a>
    </div>
    <div class="col">
      <a routerLink="/mygame" class="text-danger btn-style"
        ><i class="fa fa-gamepad" aria-hidden="true"></i
      ></a>
    </div>
    <div class="col">
      <a
        routerLink="/mywallet"
        class="text-danger btn-style bg-white rounded-circle p-3 py-4"
        style="font-size: 26px"
        ><i class="fa fa-university" aria-hidden="true"></i
      ></a>
    </div>
    <div class="col">
      <a routerLink="/mainhome" class="text-danger btn-style"
        ><i class="fa fa-diamond" aria-hidden="true"></i
      ></a>
    </div>
    <div class="col">
      <a routerLink="/help" class="text-danger btn-style"
        ><i class="fa fa-bars" aria-hidden="true"></i
      ></a>
    </div>
  </div>
</div>
<!-- footer-section   -- Close -->
