<!-- today status result -- open -->
<div class="top-banner p-3 py-4 text-white text-center bg-danger bg-gradient">
    <marquee direction = left >भारत में कार्यस्थलों पर विशाखा प्रावधानों के लागू होने के बाद तो स्थिति पुरुष सहकर्मियों के लिए काफी निषेधात्मक और चेतावनीपूर्ण हो गए हैं।</marquee>
    <h2 class="text-white fw-bold">Matka King</h2>
    <h3 class="fw-bold text-white">0.00</h3>
    <span>Wallet Balance</span>
</div>
<!-- today status result -- close -->


<!-- live market result -- open  -->
<div class="bg-light py-3 p-2 bg-diff-white text-center">
    <h2 class="fw-bold ">Market 1</h2>
    <h3 class="py-1 ">Matka King</h3>
    <h4 class="fw-bold ">0.00</h4>
</div>
<!-- live market result -- open  -->



<!-- live Market result -- open -->
<div class="container border-bottom border-dark">
    <div class="row bg-light bg-gradient p-2 py-5 text-center ">
    <h4 class="fw-bold text-center text-danger pb-4"><i class="fa fa-rebel" aria-hidden="true"></i> Live Result <i class="fa fa-rebel" aria-hidden="true"></i></h4>
        <div style="width: 132px; margin:3px; padding: 0px;">
            <div class="market-view bg-dark p-3 rounded text-white">
                <span>Market 1</span>
                <h3>36</h3>
                <span>07:58PM</span>
            </div>
        </div>
        <div style="width: 132px; margin:3px; padding: 0px;">
            <div class="market-view bg-dark p-3 rounded text-white">
                <span>Market 1</span>
                <h3>36</h3>
                <span>07:58PM</span>
            </div>
        </div>
        <div style="width: 132px; margin:3px; padding: 0px;">
            <div class="market-view bg-dark p-3 rounded text-white">
                <span>Market 1</span>
                <h3>36</h3>
                <span>07:58PM</span>
            </div>
        </div>
        <div style="width: 132px; margin:3px; padding: 0px;">
            <div class="market-view bg-dark p-3 rounded text-white">
                <span>Market 1</span>
                <h3>36</h3>
                <span>07:58PM</span>
            </div>
        </div>
        <div style="width: 132px; margin:3px; padding: 0px;">
            <div class="market-view bg-dark p-3 rounded text-white">
                <span>Market 1</span>
                <h3>36</h3>
                <span>07:58PM</span>
            </div>
        </div>
        <div style="width: 132px; margin:3px; padding: 0px;">
            <div class="market-view bg-dark p-3 rounded text-white">
                <span>Market 1</span>
                <h3>36</h3>
                <span>07:58PM</span>
            </div>
        </div>
        <div style="width: 132px; margin:3px; padding: 0px;">
            <div class="market-view bg-dark p-3 rounded text-white">
                <span>Market 1</span>
                <h3>36</h3>
                <span>07:58PM</span>
            </div>
        </div>
        <div style="width: 132px; margin:3px; padding: 0px;">
            <div class="market-view bg-dark p-3 rounded text-white">
                <span>Market 1</span>
                <h3>36</h3>
                <span>07:58PM</span>
            </div>
        </div>
        <div style="width: 132px; margin:3px; padding: 0px;">
            <div class="market-view bg-dark p-3 rounded text-white">
                <span>Market 1</span>
                <h3>36</h3>
                <span>07:58PM</span>
            </div>
        </div>

        <div class="col-12 py-3">
            <button class="btn btn-dark mt-2"><i class="fa fa-refresh" aria-hidden="true"></i> &nbsp; Old Result</button>
        </div>
    </div>
</div>
<!-- live Market result -- close -->

<div class="col-12 p-3 text-dark fw-bold text-center">
    <h5 class="fw-bold text-danger">चेतावनी</h5>
    <p>Lorem ipsum dolor sit, amet consectetur adipisicing elit. Modi repellat, possimus magni accusamus.</p>
</div>


