<h3 class="text-left fw-bold fs-3 p-3 bg-light">My Game</h3>
<div class="bg-white m-2" style="height: 100%">
  <form #data="ngForm">
    <table class="table table-bordered">
      <tbody>
        <tr>
          <td *ngFor="let data of jsonData; let i = index">
            <span class="table-selction">{{ data.number }}</span>
            <input
              type="number"
              model
              (change)="valuechange('standard', data.number, $event, i)"
              name="{{ data.number }}"
              id="{{ data.number }}"
              [(ngModel)]="data.amount"
              class="table-box"
            />
          </td>
        </tr>
        <tr>
          <td colspan="10">
            <span class="fw-bold text-danger">Bahar Haroof -</span>
          </td>
        </tr>
        <tr>
          <td *ngFor="let data of BaharHaroof; let i = index">
            <span class="table-selction">{{ data.number }}</span>
            <input
              type="number"
              model
              (change)="valuechange('bahar', data.number, $event, i)"
              name="{{ data.number }}"
              id="{{ data.number }}"
              [(ngModel)]="data.amount"
              class="table-box"
            />
          </td>
        </tr>
        <tr>
          <td colspan="10">
            <span class="fw-bold text-danger">Under Haroof -</span>
          </td>
        </tr>
        <tr>
          <td *ngFor="let data of underHaroof; let i = index">
            <span class="table-selction">{{ data.number }}</span>
            <input
              type="text"
              model
              (change)="valuechange('under', data.number, $event, i)"
              name="{{ data.number }}"
              id="{{ data.number }}"
              [(ngModel)]="data.amount"
              class="table-box"
            />
          </td>
        </tr>
      </tbody>
      <tfoot>
        <tr>
          <td colspan="5">
            <span class="fw-bolder text-secondary p-3">Wallet Amount</span>
            <span class="fw-bolder text-success p-3">{{ walletAmount }}</span>
          </td>
          <td colspan="5">
            <span class="fw-bolder text-secondary p-3">Bidded Amount</span>
            <span class="fw-bolder text-success p-3">{{ addedmoney }}</span>
          </td>
        </tr>
        <tr>
          <td colspan="10">
            <button
              class="btn btn-success btn-sm my-2 w-100"
              type="submit"
              (click)="playGame()"
            >
              <span class="spinner-grow spinner-grow-sm"></span>
              Play Game
            </button>
          </td>
        </tr>
      </tfoot>
    </table>
  </form>
</div>
