<h3 class="text-left fw-bold fs-3 p-3 bg-light">My Game</h3>
<div class="bg-white m-2" style="height: 100%">
  <form #data="ngForm">
    <table class="table table-bordered">
      <tbody>
        <tr>
          <td>
            <span class="table-selction">1</span>
            <input type="text" model name="1" id="1" class="table-box" />
          </td>
          <td>
            <span class="table-selction">2</span>
            <input type="text" model name="2" id="1" class="table-box" />
          </td>
          <td>
            <span class="table-selction">3</span>
            <input type="text" model name="3" id="1" class="table-box" />
          </td>
          <td>
            <span class="table-selction">4</span>
            <input type="text" model name="4" id="1" class="table-box" />
          </td>
          <td>
            <span class="table-selction">5</span>
            <input type="text" model name="5" id="1" class="table-box" />
          </td>
          <td>
            <span class="table-selction">6</span>
            <input type="text" model name="6" id="1" class="table-box" />
          </td>
          <td>
            <span class="table-selction">7</span>
            <input type="text" model name="7" id="1" class="table-box" />
          </td>
          <td>
            <span class="table-selction">8</span>
            <input type="text" model name="8" id="1" class="table-box" />
          </td>
          <td>
            <span class="table-selction">9</span>
            <input type="text" model name="9" id="1" class="table-box" />
          </td>
          <td>
            <span class="table-selction">10</span>
            <input type="text" model name="10" id="1" class="table-box" />
          </td>
        </tr>
        <tr>
          <td>
            <span class="table-selction">11</span>
            <input
              type="text"
              model
              name="11"
              id="11"
              placeholder=""
              class="table-box"
            />
          </td>
          <td>
            <span class="table-selction">12</span>
            <input
              type="text"
              model
              name="12"
              id="12"
              placeholder=""
              class="table-box"
            />
          </td>
          <td>
            <span class="table-selction">13</span>
            <input
              type="text"
              model
              name="13"
              id="13"
              placeholder=""
              class="table-box"
            />
          </td>
          <td>
            <span class="table-selction">14</span>
            <input
              type="text"
              model
              name="14"
              id="14"
              placeholder=""
              class="table-box"
            />
          </td>
          <td>
            <span class="table-selction">15</span>
            <input
              type="text"
              model
              name="15"
              id="15"
              placeholder=""
              class="table-box"
            />
          </td>
          <td>
            <span class="table-selction">16</span>
            <input
              type="text"
              model
              name="16"
              id="16"
              placeholder=""
              class="table-box"
            />
          </td>
          <td>
            <span class="table-selction">17</span>
            <input
              type="text"
              model
              name="17"
              id="17"
              placeholder=""
              class="table-box"
            />
          </td>
          <td>
            <span class="table-selction">18</span>
            <input
              type="text"
              model
              name="18"
              id="18"
              placeholder=""
              class="table-box"
            />
          </td>
          <td>
            <span class="table-selction">19</span>
            <input
              type="text"
              model
              name="19"
              id="19"
              placeholder=""
              class="table-box"
            />
          </td>
          <td>
            <span class="table-selction">20</span>
            <input
              type="text"
              model
              name="20"
              id="20"
              placeholder=""
              class="table-box"
            />
          </td>
        </tr>
        <tr>
          <td>
            <span class="table-selction">21</span>
            <input
              type="text"
              model
              name="21"
              id="21"
              placeholder=""
              class="table-box"
            />
          </td>
          <td>
            <span class="table-selction">22</span>
            <input
              type="text"
              model
              name="22"
              id="22"
              placeholder=""
              class="table-box"
            />
          </td>
          <td>
            <span class="table-selction">23</span>
            <input
              type="text"
              model
              name="23"
              id="23"
              placeholder=""
              class="table-box"
            />
          </td>
          <td>
            <span class="table-selction">24</span>
            <input
              type="text"
              model
              name="24"
              id="24"
              placeholder=""
              class="table-box"
            />
          </td>
          <td>
            <span class="table-selction">25</span>
            <input
              type="text"
              model
              name="25"
              id="25"
              placeholder=""
              class="table-box"
            />
          </td>
          <td>
            <span class="table-selction">26</span>
            <input
              type="text"
              model
              name="26"
              id="26"
              placeholder=""
              class="table-box"
            />
          </td>
          <td>
            <span class="table-selction">27</span>
            <input
              type="text"
              model
              name="27"
              id="27"
              placeholder=""
              class="table-box"
            />
          </td>
          <td>
            <span class="table-selction">28</span>
            <input
              type="text"
              model
              name="28"
              id="28"
              placeholder=""
              class="table-box"
            />
          </td>
          <td>
            <span class="table-selction">29</span>
            <input
              type="text"
              model
              name="29"
              id="29"
              placeholder=""
              class="table-box"
            />
          </td>
          <td>
            <span class="table-selction">30</span>
            <input
              type="text"
              model
              name="30"
              id="30"
              placeholder=""
              class="table-box"
            />
          </td>
        </tr>
        <tr>
          <td>
            <span class="table-selction">31</span>
            <input
              type="text"
              model
              name="31"
              id="31"
              placeholder=""
              class="table-box"
            />
          </td>
          <td>
            <span class="table-selction">32</span>
            <input
              type="text"
              model
              name="32"
              id="32"
              placeholder=""
              class="table-box"
            />
          </td>
          <td>
            <span class="table-selction">33</span>
            <input
              type="text"
              model
              name="33"
              id="33"
              placeholder=""
              class="table-box"
            />
          </td>
          <td>
            <span class="table-selction">34</span>
            <input
              type="text"
              model
              name="34"
              id="34"
              placeholder=""
              class="table-box"
            />
          </td>
          <td>
            <span class="table-selction">35</span>
            <input
              type="text"
              model
              name="35"
              id="35"
              placeholder=""
              class="table-box"
            />
          </td>
          <td>
            <span class="table-selction">36</span>
            <input
              type="text"
              model
              name="36"
              id="36"
              placeholder=""
              class="table-box"
            />
          </td>
          <td>
            <span class="table-selction">37</span>
            <input
              type="text"
              model
              name="37"
              id="37"
              placeholder=""
              class="table-box"
            />
          </td>
          <td>
            <span class="table-selction">38</span>
            <input
              type="text"
              model
              name="38"
              id="38"
              placeholder=""
              class="table-box"
            />
          </td>
          <td>
            <span class="table-selction">39</span>
            <input
              type="text"
              model
              name="39"
              id="39"
              placeholder=""
              class="table-box"
            />
          </td>
          <td>
            <span class="table-selction">40</span>
            <input
              type="text"
              model
              name="40"
              id="40"
              placeholder=""
              class="table-box"
            />
          </td>
        </tr>
        <tr>
          <td>
            <span class="table-selction">41</span>
            <input
              type="text"
              model
              name="41"
              id="41"
              placeholder=""
              class="table-box"
            />
          </td>
          <td>
            <span class="table-selction">42</span>
            <input
              type="text"
              model
              name="42"
              id="42"
              placeholder=""
              class="table-box"
            />
          </td>
          <td>
            <span class="table-selction">43</span>
            <input
              type="text"
              model
              name="43"
              id="43"
              placeholder=""
              class="table-box"
            />
          </td>
          <td>
            <span class="table-selction">44</span>
            <input
              type="text"
              model
              name="44"
              id="44"
              placeholder=""
              class="table-box"
            />
          </td>
          <td>
            <span class="table-selction">45</span>
            <input
              type="text"
              model
              name="45"
              id="45"
              placeholder=""
              class="table-box"
            />
          </td>
          <td>
            <span class="table-selction">46</span>
            <input
              type="text"
              model
              name="46"
              id="46"
              placeholder=""
              class="table-box"
            />
          </td>
          <td>
            <span class="table-selction">47</span>
            <input
              type="text"
              model
              name="47"
              id="47"
              placeholder=""
              class="table-box"
            />
          </td>
          <td>
            <span class="table-selction">48</span>
            <input
              type="text"
              model
              name="48"
              id="48"
              placeholder=""
              class="table-box"
            />
          </td>
          <td>
            <span class="table-selction">49</span>
            <input
              type="text"
              model
              name="49"
              id="49"
              placeholder=""
              class="table-box"
            />
          </td>
          <td>
            <span class="table-selction">50</span>
            <input
              type="text"
              model
              name="50"
              id="50"
              placeholder=""
              class="table-box"
            />
          </td>
        </tr>
        <tr>
          <td>
            <span class="table-selction">51</span>
            <input
              type="text"
              model
              name="51"
              id="51"
              placeholder=""
              class="table-box"
            />
          </td>
          <td>
            <span class="table-selction">52</span>
            <input
              type="text"
              model
              name="52"
              id="52"
              placeholder=""
              class="table-box"
            />
          </td>
          <td>
            <span class="table-selction">53</span>
            <input
              type="text"
              model
              name="53"
              id="53"
              placeholder=""
              class="table-box"
            />
          </td>
          <td>
            <span class="table-selction">54</span>
            <input
              type="text"
              model
              name="54"
              id="54"
              placeholder=""
              class="table-box"
            />
          </td>
          <td>
            <span class="table-selction">55</span>
            <input
              type="text"
              model
              name="55"
              id="55"
              placeholder=""
              class="table-box"
            />
          </td>
          <td>
            <span class="table-selction">56</span>
            <input
              type="text"
              model
              name="56"
              id="56"
              placeholder=""
              class="table-box"
            />
          </td>
          <td>
            <span class="table-selction">57</span>
            <input
              type="text"
              model
              name="57"
              id="57"
              placeholder=""
              class="table-box"
            />
          </td>
          <td>
            <span class="table-selction">58</span>
            <input
              type="text"
              model
              name="58"
              id="58"
              placeholder=""
              class="table-box"
            />
          </td>
          <td>
            <span class="table-selction">59</span>
            <input
              type="text"
              model
              name="59"
              id="59"
              placeholder=""
              class="table-box"
            />
          </td>
          <td>
            <span class="table-selction">60</span>
            <input
              type="text"
              model
              name="60"
              id="60"
              placeholder=""
              class="table-box"
            />
          </td>
        </tr>
        <tr>
          <td>
            <span class="table-selction">61</span>
            <input type="text" model name="61" id="1" class="table-box" />
          </td>
          <td>
            <span class="table-selction">62</span>
            <input type="text" model name="62" id="1" class="table-box" />
          </td>
          <td>
            <span class="table-selction">63</span>
            <input type="text" model name="63" id="1" class="table-box" />
          </td>
          <td>
            <span class="table-selction">64</span>
            <input type="text" model name="64" id="1" class="table-box" />
          </td>
          <td>
            <span class="table-selction">65</span>
            <input type="text" model name="65" id="1" class="table-box" />
          </td>
          <td>
            <span class="table-selction">66</span>
            <input type="text" model name="66" id="1" class="table-box" />
          </td>
          <td>
            <span class="table-selction">67</span>
            <input type="text" model name="67" id="1" class="table-box" />
          </td>
          <td>
            <span class="table-selction">68</span>
            <input type="text" model name="68" id="1" class="table-box" />
          </td>
          <td>
            <span class="table-selction">69</span>
            <input type="text" model name="69" id="1" class="table-box" />
          </td>
          <td>
            <span class="table-selction">70</span>
            <input type="text" model name="70" id="1" class="table-box" />
          </td>
        </tr>
        <tr>
          <td>
            <span class="table-selction">71</span>
            <input type="text" model name="71" id="1" class="table-box" />
          </td>
          <td>
            <span class="table-selction">72</span>
            <input type="text" model name="72" id="1" class="table-box" />
          </td>
          <td>
            <span class="table-selction">73</span>
            <input type="text" model name="73" id="1" class="table-box" />
          </td>
          <td>
            <span class="table-selction">74</span>
            <input type="text" model name="74" id="1" class="table-box" />
          </td>
          <td>
            <span class="table-selction">75</span>
            <input type="text" model name="75" id="1" class="table-box" />
          </td>
          <td>
            <span class="table-selction">76</span>
            <input type="text" model name="76" id="1" class="table-box" />
          </td>
          <td>
            <span class="table-selction">77</span>
            <input type="text" model name="77" id="1" class="table-box" />
          </td>
          <td>
            <span class="table-selction">78</span>
            <input type="text" model name="78" id="1" class="table-box" />
          </td>
          <td>
            <span class="table-selction">79</span>
            <input type="text" model name="79" id="1" class="table-box" />
          </td>
          <td>
            <span class="table-selction">80</span>
            <input type="text" model name="80" id="1" class="table-box" />
          </td>
        </tr>
        <tr>
          <td>
            <span class="table-selction">81</span>
            <input type="text" model name="81" id="1" class="table-box" />
          </td>
          <td>
            <span class="table-selction">82</span>
            <input type="text" model name="82" id="1" class="table-box" />
          </td>
          <td>
            <span class="table-selction">83</span>
            <input type="text" model name="83" id="1" class="table-box" />
          </td>
          <td>
            <span class="table-selction">84</span>
            <input type="text" model name="84" id="1" class="table-box" />
          </td>
          <td>
            <span class="table-selction">85</span>
            <input type="text" model name="85" id="1" class="table-box" />
          </td>
          <td>
            <span class="table-selction">86</span>
            <input type="text" model name="86" id="1" class="table-box" />
          </td>
          <td>
            <span class="table-selction">87</span>
            <input type="text" model name="87" id="1" class="table-box" />
          </td>
          <td>
            <span class="table-selction">88</span>
            <input type="text" model name="88" id="1" class="table-box" />
          </td>
          <td>
            <span class="table-selction">89</span>
            <input type="text" model name="89" id="1" class="table-box" />
          </td>
          <td>
            <span class="table-selction">90</span>
            <input type="text" model name="90" id="1" class="table-box" />
          </td>
        </tr>
        <tr>
          <td>
            <span class="table-selction">91</span>
            <input
              type="text"
              model
              name="91"
              id="1"
              placeholder=""
              class="table-box"
            />
          </td>
          <td>
            <span class="table-selction">92</span>
            <input
              type="text"
              model
              name="92"
              id="1"
              placeholder=""
              class="table-box"
            />
          </td>
          <td>
            <span class="table-selction">93</span>
            <input
              type="text"
              model
              name="93"
              id="1"
              placeholder=""
              class="table-box"
            />
          </td>
          <td>
            <span class="table-selction">94</span>
            <input
              type="text"
              model
              name="94"
              id="1"
              placeholder=""
              class="table-box"
            />
          </td>
          <td>
            <span class="table-selction">95</span>
            <input
              type="text"
              model
              name="95"
              id="1"
              placeholder=""
              class="table-box"
            />
          </td>
          <td>
            <span class="table-selction">96</span>
            <input
              type="text"
              model
              name="96"
              id="1"
              placeholder=""
              class="table-box"
            />
          </td>
          <td>
            <span class="table-selction">97</span>
            <input
              type="text"
              model
              name="97"
              id="1"
              placeholder=""
              class="table-box"
            />
          </td>
          <td>
            <span class="table-selction">98</span>
            <input
              type="text"
              model
              name="98"
              id="1"
              placeholder=""
              class="table-box"
            />
          </td>
          <td>
            <span class="table-selction">99</span>
            <input
              type="text"
              model
              name="99"
              id="1"
              placeholder=""
              class="table-box"
            />
          </td>
          <td>
            <span class="table-selction">100</span>
            <input
              type="text"
              model
              name="100"
              id="1"
              placeholder=""
              class="table-box"
            />
          </td>
        </tr>
        <tr>
          <td colspan="10">
            <span class="fw-bold text-danger">Bahar Haroof -</span>
          </td>
        </tr>
        <tr>
          <td>
            <span class="table-selction">1</span>
            <input type="text" model name="BH1" id="1" class="table-box" />
          </td>
          <td>
            <span class="table-selction">2</span>
            <input type="text" model name="BH2" id="1" class="table-box" />
          </td>
          <td>
            <span class="table-selction">3</span>
            <input type="text" model name="BH3" id="1" class="table-box" />
          </td>
          <td>
            <span class="table-selction">4</span>
            <input type="text" model name="BH4" id="1" class="table-box" />
          </td>
          <td>
            <span class="table-selction">5</span>
            <input type="text" model name="BH5" id="1" class="table-box" />
          </td>
          <td>
            <span class="table-selction">6</span>
            <input type="text" model name="BH6" id="1" class="table-box" />
          </td>
          <td>
            <span class="table-selction">7</span>
            <input type="text" model name="BH7" id="1" class="table-box" />
          </td>
          <td>
            <span class="table-selction">8</span>
            <input type="text" model name="BH8" id="1" class="table-box" />
          </td>
          <td>
            <span class="table-selction">9</span>
            <input type="text" model name="BH9" id="1" class="table-box" />
          </td>
          <td>
            <span class="table-selction">10</span>
            <input type="text" model name="BH10" id="1" class="table-box" />
          </td>
        </tr>
        <tr>
          <td colspan="10">
            <span class="fw-bold text-danger">Under Haroof -</span>
          </td>
        </tr>
        <tr>
          <td>
            <span class="table-selction">1</span>
            <input type="text" model name="UH1" id="1" class="table-box" />
          </td>
          <td>
            <span class="table-selction">2</span>
            <input type="text" model name="UH2" id="1" class="table-box" />
          </td>
          <td>
            <span class="table-selction">3</span>
            <input type="text" model name="UH3" id="1" class="table-box" />
          </td>
          <td>
            <span class="table-selction">4</span>
            <input type="text" model name="UH4" id="1" class="table-box" />
          </td>
          <td>
            <span class="table-selction">5</span>
            <input type="text" model name="UH5" id="1" class="table-box" />
          </td>
          <td>
            <span class="table-selction">6</span>
            <input type="text" model name="UH6" id="1" class="table-box" />
          </td>
          <td>
            <span class="table-selction">7</span>
            <input type="text" model name="UH7" id="1" class="table-box" />
          </td>
          <td>
            <span class="table-selction">8</span>
            <input type="text" model name="UH8" id="1" class="table-box" />
          </td>
          <td>
            <span class="table-selction">9</span>
            <input type="text" model name="UH9" id="1" class="table-box" />
          </td>
          <td>
            <span class="table-selction">10</span>
            <input type="text" model name="UH10" id="1" class="table-box" />
          </td>
        </tr>
      </tbody>
      <tfoot>
        <tr>
          <td colspan="5">
            <span class="fw-bolder text-secondary p-3">Total Amount</span>
          </td>
          <td colspan="5">
            <span class="fw-bolder text-success p-3">99,999/-</span>
          </td>
        </tr>
        <tr>
          <td colspan="10">
            <button
              class="btn btn-success btn-sm my-2 w-100"
              type="submit"
              (click)="playGame(data.value)"
            >
              <span class="spinner-grow spinner-grow-sm"></span>
              Play Game
            </button>
          </td>
        </tr>
      </tfoot>
    </table>
  </form>
</div>
