<h3 class="text-left fw-bold fs-3 p-3 bg-light">Edit Profile</h3>
<div class="bg-white" style="height: 68vh;">

   <div class="container">
    <div class="row">
        <div class="col-md-12 p-5">
            <form action="">
                <div class="form-group my-1">
                    <input type="file"  class="w-100 p-1"> 
                </div>
                <div class="form-group my-1">
                    <input type="text" placeholder="Update Name" class="w-100 p-1"> 
                </div>
                <div class="form-group my-1">
                    <input type="text" placeholder="Update Post" class="w-100 p-1"> 
                </div>
                <div class="form-group my-1">
                    <input type="text" placeholder="Update E-mail" class="w-100 p-1"> 
                </div>
                <div class="form-group my-1">
                    <input type="text" placeholder="Update contact" class="w-100 p-1"> 
                </div>
                <div class="form-group my-1">
                    <input type="text" placeholder="Update Address" class="w-100 p-1"> 
                </div>
                <div class="form-group my-1">
                    <input type="text" placeholder="Payment info" class="w-100 p-1"> 
                </div>
                <button class="btn btn-success w-100" (click)="dataupdate()">Update</button>
            </form>
        </div>
    </div>
   </div>

</div>